<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Perfil</title>
  </head>
  <body>

    <a href="http://127.0.0.1:5000/"> Atras </a>
    <center>
      <h1>Perfil de Personaje</h1>
      </center>
  <div class="container mt-4">
    {% for p in perfil %}
    <div class="row">
      <div class="col-auto">
        <img src="{{p.image}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col">
          <p class="form-label"><b>Nombre: </b>{{p.name}}</p>
          <p class="form-label"><b>Estado: </b>{{p.status}}</p>
          <p class="form-label"><b>Especies: </b>{{p.species}}</p>
          <p class="form-label"><b>Tipo: </b>{{p.type}}</p>
          <p class="form-label"><b>Género: </b>{{p.gender}}</p>
          <p class="form-label"><b>Origen: </b>{{p.origin.name}}</p>
          <p class="form-label"><b>Ubicación: </b>{{p.location.name}}</p>
          <p class="form-label"><b>Episodio:</b></p>
          {% for e in p.episode %}
            <ul>
              <li>
                <a href={{e}}> {{e}}</a>
              </li>
            </ul>
          {% endfor %}
          <p class="form-label"><b>Creación: </b>{{p.created}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>